/*
---------------------------------------------
root : 색상을 지정해두고 색상을 변경해줄 태그에 var()의 괄호 안에 해당하는 색상 속성을 넣어주면됨
---------------------------------------------
*/
:root {
  /* font */
  --f-m-color: #2a2a2a;
  --f-g-color: #aaa;
  --f-n-size: 0.9375rem;

  /* color */
  --bg-color: #2a2a2a;

  /* element interval */
  --el-s-interval: 1.875rem;
}

/*
---------------------------------------------
Container - fit center element (중앙정렬)
---------------------------------------------
*/

.container {
  width: 1200px;
  height: auto;
  margin: auto;
}
